{% extends "base.html" %}

{% load static %} 
{% load courses_tags %} <!-- carregando as template tags customizadas-->

{% block content %}
<div class="pure-g-r content-ribbon">
  <div class="pure-u-1">
    <ul class="breadcrumb pure-menu-horizontal">
     {% block breadcrumb %}
     <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
     {% endblock %}
   </ul>
 </div>
 <div class="pure-u-1-3">
  <div class="pure-menu pure-menu-open">
    <ul>
      <li class="pure-menu-heading"> Bem vindo {{ user }}</li>
      
      {% block menu_options %}<!-- Blocos para preencher as opções dentro de cada vizualização de curso (menu)-->
      
      {% my_courses user %} <!-- renderiza os cursos com templatetags-->
      <li class="pure-menu-heading">Conta</li>
      <li>
        <a href="{% url 'accounts:edit' %}">
          <i class="far fa-address-card"></i> Editar Conta
        </a>
      </li>
      <li>
        <a href="{% url 'accounts:edit_password' %}">
          <i class="fab fa-expeditedssl"></i> Alterar Senha
        </a>
      </li>
      {% endblock %}
    </ul>
  </div>
</div>
<div class="pure-u-2-3">
  <div class="inner">
   {%block dashboard_content %} 
   
   <h2>Meus Cursos</h2>          		
   {% my_courses_dash user %}
   {% endblock %}
 </div>
</div>
</div>
{% endblock content %}

